*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: springgreen;
   

}

#header{
    position: fixed;
    width: 100%;
    height: 10rem;
    background-color:black;
   
    border: solid springgreen 1px;
    
}


.app-name{
    color:springgreen;
    font-size: 1.5rem;
    font-family: monospace;
    position: relative;
    left: 1.2rem;
    top:8rem;
   
}

.logo{
    position: relative;
    left:2rem;
    bottom:5.5rem;
    width: 15rem;
    height: 7rem;
    border-radius: .2rem;
    border: solid springgreen .5px;

}
.logo:hover{
    border: solid springgreen 2px;

}

.nav{
    background-color: white;
  
    width: 39rem;
    height: 5rem;
    position: relative;
    top:2rem;
    left: 50rem;
    background-color: black;
    color:white;
    font-size: 2rem;
    font-family: monospace;
    
   
 
}
a{
    text-decoration: none;
    padding: .8rem;
    color: springgreen;
}
a:hover{
    color: snow;
}
.new{
    position: relative; 
    top:10rem;
    width: 100%;
    height: 700px;
   z-index: -1;
    margin: 0;
    background: url('./images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.banner-img{

    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 


}
.spam-dec{
    position: relative;
    top:10rem;
    width: 100%;
    height: 680px;
    background-color:black;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    border: solid springgreen 2px;
   

}
.text-ar{
    position: relative;
    width: 500px;
    height: 300px;
    bottom: 22rem;
    left :31rem;
    font-family: monospace;
    font-size: 2rem;
    border:solid springgreen .1rem;
    background-color:black;
    opacity: 0.8;
    color: springgreen;
     padding: 2rem;

}
.head-title{
    color: white;
    font-family: monospace;
    position: relative;
    top:4rem;
    left: 30rem;
    font-size: 4rem;
    color: springgreen;
}
button{
    color:white;
    width: 12rem;
    height: 3.5rem;
    position: relative;
    bottom: 18rem;
    left:8.5rem;
    background-color: black;
    border: solid springgreen .1rem;
    font-size: 1.3rem;
    cursor: pointer
}
button:hover{
    font-size: 1.4rem;
}
.mail-bug{
    position: relative;
    width: 4rem;
    height: 4remx;
    left:38rem;
    top:0rem
}
.result{
  
    position: relative;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
    bottom: 18.9rem;
    background-color: black;
    width: 200rem;
    height: 100rem;
    z-index: -1;
    border: solid springgreen .1rem;


}

.display{
    position: relative;
    z-index: 1;
    background-color: black;
    top:18rem;
    left:24rem;
    width: 50rem;
    height: 60rem;
    border: solid springgreen .1rem;

}
.result-title{
    color:springgreen;
    font-family:monospace;
    font-size: 3rem;
    position: relative;
    left: 13rem;
    top:2rem;
  
}

.stage-1{
    background-color:black;
    width:40rem;
    height: 10rem;
    position: relative;
    left:5rem;
    top:5rem;
}

.stage-2{
    background-color:black;
    width:40rem;
    height: 10rem;
    position: relative;
    left:5rem;
    top:8rem;
}
.stage-3{
    background-color: black;
    width:40rem;
    height: 10rem;
    position: relative;
    left:5rem;
    top:11rem;
}
.stage-4{
    background-color:black;
    width:40rem;
    height: 10rem;
    position: relative;
    left:5rem;
    top:14rem;
}

.num-1{
    width:4rem;
    height:3rem;
    background-color:black;
    position: relative;
    left:.5rem;
    top:.5rem;
    font-family:Courier, monospace;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.s1-img{
    width: 13rem;
    height: 10rem;
    position: relative;
    left:5rem;
    bottom: 3rem;
    border: solid springgreen .1rem;
}

.s2-img{
    width: 11rem;
    height: 10rem;
    position: relative;
    left:5rem;
    bottom: 3rem;
    border: solid springgreen .1rem;
}

.s3-img{
    width: 13rem;
    height: 8rem;
    position: relative;
    left:5rem;
    bottom: 3rem;
    border: solid springgreen .1rem;
}



.text-1{
    background-color:black;
    width: 21rem;
    height: 10rem;
    position: relative;
    bottom:13.2rem;
    left: 19rem;
    z-index: 2;
    color: white;
    font-family: monospace;
    font-size: 2rem;
}
.text-2{
    background-color:black;
    width: 20rem;
    height: 7rem;
    position: relative;
    bottom:11rem;
    left: 19rem;
    z-index: 2;
    color: white;
    font-family: monospace;
    font-size: 2rem;
}
.stage-desc{
    
    position: relative;
    left: 1rem;
    font-family: monospace;
    top:1rem;
}



.project-info{
    background-color: red;
    position: relative;
    bottom:22.8rem;
    height:40rem;
    clip-path: polygon(0 9%, 100% 11%, 100% 93%, 0 86%);
    z-index: -1;
    background-color: black;
    border: solid springgreen .1rem;

}

.title{
   position: relative;
   top:10rem;
   text-align: center;
   font-family:  monospace;
   font-size: 4rem;
   color: white;
}
.pro-info{
    position: relative;
    left:15rem;
    background-color: red;
   
}
.desc{
   position: relative;
   text-align: justify;
    top:12rem;
   width: 70%;
   left:15rem;
   font-family: monospace;
   font-size: 1.5rem;
   border:solid springgreen .1rem;
   padding: 1rem;
   z-index: -1;
   color: white;

}


.dev{
    position: relative;
    width: 100%;
    background-color: black;
   
    height: 25rem;
}
.dev-info{
    position: relative;
    text-align: center;
    top:3rem;
    font-family: monospace;
    font-size: 4rem;
    color: #EB1CA5;
}
.dev-name{
    position: relative;
    color: white;
    padding: 1REM;
    top:6rem;
    font-family: monospace;
    font-size: 3rem;
    text-align: center;
}



